.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  height: 100vh;
  width: 100%;
  color: #fff;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  overflow: hidden;
}

.textContainer {
  text-align: center;
  margin-bottom: 20px;
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px;
  background: rgb(22 18 18 / 50%);
  max-width: 90%;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #fff;
}

.description {
  font-size: 1.2rem;
  color: #fff;
}

.cardsContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.card {
  cursor: pointer;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
}

.card:hover {
  transform: scale(1.1);
}

.activeCard {
  border: 3px solid var(--secondary);
}

.cardImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.cardTitle {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .cardImage {
    width: 60px;
    height: 60px;
  }

  .cardTitle {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .heroContainer {
    height: 95vh;
  }

  .title {
    font-size: 1.8rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .textContainer {
    padding: 20px;
  }

  .cardsContainer {
    align-items: center;
  }

  .card {
    max-width: 120px;
  }
}