.packagesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .packageCard {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    color: #000;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .packageCard:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .packageTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .packageDescription {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .packageDetails {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  
  .packagePrice {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .packageInclusions {
    list-style-type: none;
    padding: 0;
  }
  
  .packageInclusions li {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }